page-learn-more-manual {
  ion-navbar {
    .menu {
      img {
        width: 30px;
        height: 30px;
      }
    }
    border-bottom: 1px solid #c8c7cc;
    .back-button {
      padding-left: 16px;
    }
    .toolbar-background {
      background-color: color($colors, white);
    }
    .edit-address {
      width: 12px;
    }
    .navbar-header {
      margin-left: 10px;
      display: flex;
      justify-content: space-between;
      margin-right: 16px;
      margin-bottom: 4px;
      align-items: center;
    }
    .header-house {
      &-label {
        margin-bottom: 4px;
      }
      &-line {
        color: color($colors, orange);
        font-size: 1.7rem;
      }
    }
    .header-right-area {
      padding-right: 10px;
      ion-icon {
        width: 25px;
        height: 25px;
      }
      .second {
        margin-left: 15px;
      }
    }
  }
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    padding-left: 16px;
    &-name {
      display: flex;
      align-items: center;
      &-text {
        margin-left: 16px;
      }
    }
    &-item {
      padding: 0;
    }
  }
  #content {
    background-color: color($colors, light);
    .about {
      background-color: color($colors, light);
      h3 {
        color: color($colors, orange);
      }
      .icons {
        height: 50px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: color($colors, orange);
        vertical-align: middle;
        text-align: center;
        span {
          padding: 5px;
        }
        ion-icon {
          font-size: 14px;
        }
      }
    }
    ion-icon {
      font-size: 18px;
      color: color($colors, orange);
      span {
        padding-left: 20px;
      }
    }
    ion-item {
      background-color: color($colors, white);
      box-shadow: 0 0 6px 1px color($colors, grey);
      ion-thumbnail {
        img {
          border-radius: 50%;
          max-width: 100%;
          max-height: 100%;
        }
      }
      h3 {
        padding-top: 20px;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 16px;
      }
      p {
        padding-top: 10px;
        color: color($colors, grey);
        span {
          padding-left: 20px;
          color: black
        }
      }
      .product-item-link {
        color: color($colors, orange);
        p {
          padding-top: 20px;
        }
        ion-icon {
          padding-left: 10px;
        }
      }
    }
  }
}
