page-receipt {
    ion-content{
        background-color: color($colors, light)!important;
    }
    ion-navbar {
        .menu {
          img {
            width: 30px;
            height: 30px;
          }
        }
        p{
            margin: 0px;
            color: color($colors, grey);
        }
        .toolbar-title{
            padding: 0px!important;
        }
        border-bottom: 1px solid #c8c7cc;
        .back-button {
          padding-left: 16px;
        }
        .toolbar-background {
          background-color: color($colors, white);
        }
        .edit-address {
          width: 12px;
        }
        .navbar-header {
          margin-left: 10px;
          display: flex;
          justify-content: space-between;
          margin-right: 16px;
          margin-bottom: 4px;
          align-items: center;
        }
        .header-house {
          &-label {
            margin-bottom: 4px;
          }
          &-line {
            color: color($colors, orange);
            font-size: 1.7rem;
          }
        }
        .header-right-area {
          padding-right: 10px;
          ion-icon {
            width: 25px;
            height: 25px;
          }
          .second {
            margin-left: 15px;
          }
        }
      }
     ion-list{
        box-shadow: 0 0 6px 1px color($colors, grey);
        ion-item{
            padding-left: 0px!important;
            ion-label{
                img{
                    max-width: 60px;
                    padding-left: 10px;
                }
                display: flex;
                margin-right: 0px!important;
                justify-content: space-around;
                align-items: center;
                .receipt-info {
                    margin-right: auto;
                    padding-left: 10px;
                    h6{
                        color: color($colors, orange);
                    }
                    
                }
                .receipt-price{
                    color: color($colors, orange);
                }
            }
        }
     }
     ion-footer{
        font-size: 14px;
        &:before{
            display: none;
        }
        .footer-header,.main-info,.total {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .right{
                text-align: right;
                justify-content: flex-end;
                color: color($colors, orange);
                img{
                    margin-right: 10px;
                    max-height: 18px;
                }
            }
        }
        span{
            display: flex;
            align-items: center;
        }
        .footer-header {
            background: white;
            padding: 10px;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
        }
        .main-info {
            padding: 10px;
            .left{
                color: color($colors, grey) ;
                margin-bottom: 10px;
            }
        }
        .total {
            border-top:1px solid #ebebeb;
            background: white;
            padding: 15px 10px;
            span{
                font-size: 16px;
            }
            
        }
     }
}
