  page-profile-settings {
    ion-navbar {
      .menu {
        img {
          width: 30px;
          height: 30px;
        }
      } // border-bottom: 1px solid #c8c7cc;
      .back-button {
        padding-left: 16px;
      }
      .toolbar-background {
        background-color: color($colors, white);
      }
      .edit-address {
        width: 12px;
      }
      .navbar-header {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: 16px;
        margin-bottom: 4px;
        align-items: center;
      }
      .header-house {
        &-label {
          margin-bottom: 4px;
        }
        &-line {
          color: color($colors, orange);
          font-size: 1.7rem;
        }
      }
      .header-right-area {
        padding-right: 10px;
        ion-icon {
          width: 25px;
          height: 25px;
        }
        .second {
          margin-left: 15px;
        }
      }
    }
    #content {
      background-color: color($colors, light);
      ion-list {
        margin-top: 10px;
        box-shadow: 0 0 6px 1px color($colors, grey); // padding: 30px 30px;
        background: white;
        ion-item {}
        .email {
          .header {
            height: 30px;
            width: 100%;
            border-bottom: 1px solid $silver-border;
            font-size: 14px;
            p {
              font-size: 14px;
            }
            .left {
              // width: 50%;
              float: left;
              ion-icon {
                padding-right: 10px;
                vertical-align: middle;
              }
            }
            .right {
              // width: 50%;
              float: right;
              p {
                color: color($colors, orange);
              }
            }
          }
          .input {
            padding-top: 15px;
            text-align: center;
            h3 {
              // text-align: left;
              margin-right: 35%;
              color: grey;
            }
            input {
              margin-top: 5px;
              width: 90%;
              height: 30px;
              border-radius: 15px;
              border: 1px solid silver;
            }
          }
        }
      }
      .pet-photo {
        border: none;
        color: color($colors, gray);
        height: 150px;
        text-align: center;
        width: 100%;
        img {
          // margin: 0 auto;
          color: color($colors, gray);
          width: 100px;
          height: 100px;
        }
        h3 {
          margin-top: 10px;
        }
      }
    }
  }
